<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="URL" value="https://regusuat.crm4.dynamics.com/main.aspx?" />
	  <add key="ESTURL" value="https://regusuat.crm4.dynamics.com/main.aspx?appid=30dace7f-dee3-408c-96a0-d439b4746b35&amp;pagetype=dashboard&amp;id=062b8911-fb64-e911-a9ec-000d3a2bb31e&amp;type=system&amp;_canOverride=true" />
	  	  <add key="URL1" value="https://regusgroupservices.sharepoint.com/sites/crm-test-files/SitePages/Home.aspx" />
    <add key="browser" value="Chrome" /> <!--Chrome, Firefox, FirefoxOld, (IE) / (internet explorer), Edge-->
    <add key="ControlsFilePath" value="ObjectRepository\Objects.xlsx" />
    <add key="Project" value="IWG_D365" />
    <add key="SenderEmail" value="testsender101@gmail.com" />
    <add key="SenderEmailPassword" value="Testhouse@123" />
    <add key="ReceiverEmail" value="testreceiver101@gmail.com" />
    <add key="CCEmail" value="" />
    <add key="BccEmail" value="" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPServer" value="smtp.gmail.com" />
	  <add key="TestData" value="DataManager\TestData.xlsx" />
   
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>